DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Evita bucle si ya estamos dentro de /public
    RewriteRule ^public/ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
